@model List<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Count > 0)
{
    <h2>Movies</h2>
    @Html.ActionLink("New Movie", "NewMovie", "Movies", new { }, new { @class = "btn btn-primary btn-md" })


    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movies</th>
                <th>Genre</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.name, "Edit", "Movies", new { id = item.Id }, new { })
                    </td>
                    <td>
                        <p>@item.Genre.Name</p>
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", "Movies", new { id = item.Id }, new { })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section scripts
{
   @Scripts.Render("~/bundles/jqueryval");
}